<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/header') %>
  </header>
  <main>
    <div class="container p-0">
      <section class="__wrapper-cards fadeInBottom">
        <div class="row m-0">
          <div class="col-12 col-sm-12 col-md-4 text-center p-0">
            <article id="art-1">
              <img src="../../images/loop1/s1/device.svg" alt="device">
              <h2>Mobile</h2>
              <p>Get notifications about new releases in our mobile app.</p>
              <h3>10</h3>
            </article>
          </div>
          <div class="col-12 col-sm-12 col-md-4 text-center p-0">
            <article id="art-2">
              <img src="../../images/loop1/s1/laptop.svg" alt="laptop">
              <h2>Desktop</h2>
              <p>Enjoy new episores on your laptop in browser witho our web service, which supports all the platforms.</p>
              <h3>15</h3>
            </article>
          </div>
          <div class="col-12 col-sm-12 col-md-4 text-center p-0">
            <article id="art-3">
              <img src="../../images/loop1/s1/monitor.svg" alt="monitor">
              <h2>Tv</h2>
              <p>Watch your favorite series at home on large screen with our TV application.</p>
              <h3>20</h3>
            </article>
          </div>
        </div>
      </section>
    </div>
  </main>

  <%- include('../partials/scripts') %>
</body>

</html>
