<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <header>
    <%- include('../partials/header') %>
  </header>
  <main>
    <section class="checkout">
      <div class="header">
        <h2>SimpleWheels</h2>
        <button class="user"></button>
      </div>
        <p>Thanks for your order #2357654, your package will be on it's way shortly.</p>
        <article>
          <p>Chapelli Vintage Single Speed</p>
          <span>$317</span>
        </article>
        <article>
          <p>Chapelli Vintage Single Speed</p>
          <span>$317</span>
        </article>
        <article class="total">
          <h3>total</h3>
          <span>$317</span>
        </article>
    </section>
  </main>
  <%- include('../partials/scripts') %>
</body>
</html>
